@charset "ISO-8859-1";

h1{
    text-align : center ;
    font-family: Arial, Helvetica, sans-serif;
}
.jumbotron
{
    background-color:#87CEFA;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }


  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .modal-body
  {
    background-color: #f2f2f2;
  }
 